<head>
  <link href='http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900italic,900' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
  <div class="rela-block top-section">
    <h4><b>Screener:</b></h4>
    <span class="criterion-container">
      <p style="color:#2ecc71">Bullish criterion: </p>
      <ul>
        <li>Close > Open</li><br>
        <li>Close > rising 20sma</li><br>
        <li>Rising 10sma > rising 20sma</li><br>
        <li>Rising 20sma > rising 40sma</li><br>
      </ul>
      <p style="color:#e74c3c">Bearish criterion: </p>
      <ul>
        <li>Close < Open</li><br>
        <li>Close < declining 20sma</li><br>
        <li>Declining 10sma < declining 20sma</li><br>
        <li>Declining 20sma < declining 40sma</li><br>
      </ul> 
    </span>
  </div>


  {% if mode == "screen" %}
  <div class="rela-block tab"> 
    <p class="tab-title">Retracement screener {{meta["timeframe"]}} timeframe. Average vol > 100k</p>
    <div class="tab-text">{{meta["market_today"]}}<br>
                          <hr>
                          <b style="color:#2ecc71">{{meta["pop_up"]}}</b> stocks above 20ma 🐂<br>
                          <b style="color:#e74c3c">{{meta["pop_down"]}}</b> stocks below 20ma 🐻<br><br>
    </div>
  </div>


  <div class="row">
    {% for image in images %}
      <section class="graph">
        <p class="ticker">{{ image.split('.')[0] }}</p>
        <img class="chart" src="{{ url_for('static', filename=image) }}"/>
      </section>

    {% endfor %}
  </div>
  {% endif %}

</body>
