body {
  background-color: #34495e;
  font-family: 'Roboto', sans-serif;
  color: white;
}

h3, h4 {
  text-align: center;
}

b {
  font-size: 15px;
}

.tradingview-widget-container {
  position: relative;
  padding-top: 10px;
  margin: 0 auto;
  text-align: center;
  width:  100% !important;
  height: 92vh !important;
}



@media only screen and (max-width: 1000px) {

  .tradingview-widget-container {
    position: relative;
    padding-top: 30px;
    margin: 0 auto;
    text-align: center;
    height: 87vh !important;


  }

}
