
p.light {
  color: #727272;
}

.by {
  position: relative;
  font-size:10px;
  opacity: 0.2;
  margin-left: 55px;
  top:-15px;
}
h1 {
  margin-left: 50px;
  font-size: 34px;
  letter-spacing: 5px;
  font-weight: 100;
  line-height: 30px;
  text-transform: uppercase;
}
h2 {
  font-size: 24px;
  letter-spacing: 6px;
  font-weight: 200;
  line-height: 30px;
  text-transform: uppercase;
  margin-bottom: 15px;
}

h4 {
  position: relative;
  font-weight: bold;
  margin-left:55px;
  font-size: 12px;
  letter-spacing: 6px;
  font-weight: 100;
  line-height: 20px;
  text-transform: uppercase;
}

body {
  background-color: #2c3e50;
  font-family: 'Roboto', sans-serif;
}

.row {
  margin-top:100px;
  text-align: center;
}

.top-section {
  height: 200px;
  width:100%;
  color: #e0e5f5;
  background-color: #34495e;
  overflow: hidden;
  margin-bottom:60px;
}

.tab {
  position: relative;
  top: -50px;
  z-index: 10;
  height: 150px;
  width: 65%;
  max-width: 1000px;
  margin: -90px auto;
  padding: 15px 30px;
  background-color:#222f3e;
  color:white;
  border-radius: 2px;
  box-shadow: 0px 3px 10px -1px rgba(0,0,0,0.5);
  text-align: center;
  font-size: 18px;
}

.tab-title {
  position: relative;
  font-size: 10px;
  text-align: left;
  top:-15px;
}

.tab-text {
  position: relative;
  font-size:15px;
  top:-5px;
}
hr {
  border: 1px solid #34495e;
  width:50%;
}

.galleryInput {
  position: relative;
  float:right;
}


.ticker {
  position: relative;
  color:white;
  margin-bottom:-90px;
}



div.desc {
  position: relative;
  color: white;
  margin-top:-40px;
  text-align: center;
}


@media only screen and (max-width: 600px) {

  .tab {
    margin-bottom:20px;
  }

  .chart {
    width:100%;
    padding-bottom:50px;
  }

  .ticker {
    top:-50px;
    font-size:10px;
  }

}
